---
import Layout from '../layouts/Layout.astro';
---
<Layout title="CSS Test">
    <div style="padding: 50px; background: #c6a75e; color: white; text-align: center;">
        <h1>CSS STABLE TEST</h1>
        <p>If you see this, the server is watching src/pages.</p>
        <link rel="stylesheet" href="/styles/global.css">
    </div>
</Layout>
